@import url('https://rsms.me/inter/inter.css');

:root {  
  --size-bezel: .5rem;
  --size-radius: 4px;
}
.card {
  background: var(--color-background-card);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  // Max width
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  // TODO: does not work when element is inserted
  transition: height 100ms ease-in;
  
  *:first-child {
    margin-top: 0;
  }
}

.input {
  position: relative;
  
  &_label {
    position: absolute;
    left: var(--label-indent);
    top: -8px;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background-card);
    transition: background 120ms ease-in;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  &_field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
    
    &:focus,
    &:not(:placeholder-shown) {
      & + .input_label {
        transform: translate(.25rem, -50%) scale(.9);
        color: var(--color-accent);
        background-color: transparent;
      }
    }
  }
}
