.controls {
    margin-top: 30px;
    display: flex;

    .button-view {
        min-width: max-content;
        margin-top: 5px;
        margin-right: 3px;
    }

    .dl-control-view {
        --field-width: 30%;
        margin-bottom: 20px;
        position: relative;
        // TODO: center p element
        display:flex;
        align-items:center;
        width:100%;

        .input_field {
            width: var(--field-width);
            min-width: 115px;
        }
        
        // #input-label-1 {
        //     margin-left: calc(var(--p-width) + var(--label-indent));
        // }

        // #input-label-2 {
        //     margin-left: calc(var(--field-width) + var(--label-indent) + var(--margin-between) + var(--p-width));
        // }

        .input_label {
            top: -22px;
        }

        // #width-field {
        //     margin-right: 15px;
        // }
    }
}